body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-size: 1em;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.refresh-btn {
    border: 2px solid #261100;
    margin: 0;
    text-decoration: none;
    background: #ffffff;
    color: #261100;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    transition: background linear 0.3s, color linear 0.3s;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-bottom: 10px;
    font-family: Montserrat;
}

.refresh-btn:hover {
    background: #261100;
    color: #ffffff;
}

.refresh-btn:focus {
    outline: 0;
}

.select:hover {
    color: #dfdfdf;
    cursor: pointer;
}

.selected {
    color: #dfdfdf;
}

.grid-container{
    width: 24vw;
    height: 24vw;
    border: 1px solid #dfdfdf;
}

.square {
    width: var(--element-width);
    height: var(--element-height);
}

.inactive {
    /* border: 1px solid #dfdfdf; */
    background:#ffffff;
}

.active {
    /* border: 1px solid var(--element-border); */
    background: var(--element-background);
}

form{
    display: flex;
    margin: 0;
    justify-content: center;
    background: transparent;
}

.direction-text {
    opacity: 1;
    font-size: 4.9vw;
    width: 20vw;
    position: absolute;
    color: #261100;
}

.colors-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.dimensions {
    font-size: 4.9vw;
}
