body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Montserrat, sans-serif;
    margin: 0;
}

p {
    margin: 0;
}

h1 {
    margin: 0;
}

.header {
    position: absolute;
    top: 5px;
    right: 0.5%;
    /* -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1); */
}

.header h1 {
    font-style: italic;
    font-size: 2vw;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5%;
    position: absolute;
    right: 0.5%;
    text-align: right;
    align-items: flex-end;
}

.refresh-btn {
    border: 2px solid #261100;
    text-decoration: none;
    background: #ffffff;
    color: #261100;
    cursor: pointer;
    text-align: center;
    transition: background linear 0.3s, color linear 0.3s;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 14vw;
    font-size: 3vw;
    font-family: Montserrat;
}

.refresh-btn:hover {
    background: #261100;
    color: #ffffff;
}

.refresh-btn:focus {
    outline: 0;
}

.color-select {
    flex-direction: column;
    display: flex;
    font-size: 3vw;
}

.select:hover {
    color: #dfdfdf;
    cursor: pointer;
}

.selected {
    color: #dfdfdf;
}

.grid-container{
    width: 40vw;
    height: 40vw;
    border: 1px solid #dfdfdf;
}

.square {
    width: var(--element-width);
    height: var(--element-height);
}

.inactive {
    /* border: 1px solid #dfdfdf; */
    background:#ffffff;
}

.active {
    /* border: 1px solid var(--element-border); */
    background: var(--element-background);
}

form{
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
    justify-content: flex-end;
    background: transparent;
    width: 30vw;
}

.direction-text {
    opacity: 1;
    width: 20vw;
    position: absolute;
    left: 0.5%;
}

.direction-text p {
    font-size: 4.9vw;
    font-weight: 400;
    color: #261100;
}

.colors-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.dimensions {
    font-size: 4.9vw;
}
