<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='input.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='img/fav.png') }}">
    <script>
            let gridSize = "{{data['grid-size']}}"
    </script>
    <title>pixxel art</title>
</head>
<body>
    <div class="input-container">
        <button class="refresh-btn">clean</button>
        <form action="/" method='POST' autocomplete="off">
            <span class="input input--minoru">
                <input class="input__field input__field--yoko" type="text" id="input-16" name="input-number">
                <label class="input__label input__label--yoko" for="input-16">
                    <span class="input__label-content input__label-content--yoko">height x width</span>
                </label>
            </span>
        </form>
        <div class="color-select">
            <span class="selected select select-1">purple</span>
            <span class="select select-2">green</span>
            <span class="select select-3">pink</span>
            <span class="select select-4">orange</span>
        </div>
    </div>
    <div class="container">
        <div class="grid-container"></div>
    </div>
    <div class="direction-text">
         hover over the square to draw
         <div class="colors-container">
                <div class="color-sqr sqr-1"></div>
                <div class="color-sqr sqr-2"></div>
                <div class="color-sqr sqr-3"></div>
                <div class="color-sqr sqr-4"></div>
        </div>
        <span class="dimensions">{{data['grid-size']}} x {{data['grid-size']}}</span>
     </div>
    
    <script src="{{ url_for('static', filename='scripts.js')}}"></script>
</body>
</html>